{% extends 'base.html.twig' %}

{% block title %}Crear Persona/Empresa{% endblock %}

{% block body %}


    <div class="container">
        <a href="{{ path('app_persona_empresa') }}" class="btn btn-primary">Tornar</a>
        <h1>{{ personaEmpresa.getNomComplet }}</h1>
        {{ form_start(form, {'attr': {'url': path('persona_empresa_create')}}) }}
        {{ form_row(form.type, {'attr': {'class': 'form-select', 'onchange': 'showHide()','placeholder': 'Selecciona una opció'}}) }}
        <hr>
        <div id="persona" style="display: {{ personaEmpresa.getType == 'persona' ? 'block' : 'none' }};">
            {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.cognom1, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.cognom2, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div id="empresa" style="display: {{ personaEmpresa.getType == 'empresa' ? 'block' : 'none' }};">
            {{ form_row(form.RaoSocial, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.NomComercial, {'attr': {'class': 'form-control'}}) }}
        </div>
        <hr>
        {{ form_row(form.NIF, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.Carrer, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.CP, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.Ciutat, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.Provincia, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}
    </div>
    <script>
        function showHide() {
            var x = document.getElementById("persona");
            var y = document.getElementById("empresa");
            var z = document.getElementById("form_type");
            if (z.value == "Persona") {
                x.style.display = "block";
                y.style.display = "none";
            } else {
                x.style.display = "none";
                y.style.display = "block";
            }
        }
    </script>
{% endblock %}
