{% extends 'base.html.twig' %}

{% block title %}Crear Persona/Empresa{% endblock %}

{% block body %}


    <div class="container">
        <a href="{{ path('app_persona_empresa') }}" class="btn btn-primary">Tornar</a>
        <h1>{{ personaEmpresa.NomComplet }}</h1>
        {{ form_start(form, {'attr': {'url': path('persona_empresa_create')}}) }}
        {{ form_row(form.NomComplet, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.NIF, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.Carrer, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.CP, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.Ciutat, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.Provincia, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
