{% extends 'base.html.twig' %}

{% block title %}Hello PersonaEmpresaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container">
        <a href="{{ path('persona_empresa_new') }}" class="btn btn-primary">Crear</a>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>NIF</th>
                <th>Adreça</th>
                <th>CP</th>
                <th>Localitat</th>
                <th>Provincia</th>
            </tr>
            </thead>
            <tbody>
            {% for persona_empresa in personesEmpresa %}
                <tr>
                    <td>{{ persona_empresa.NomComplet }}</td>
                    <td>{{ persona_empresa.NIF }}</td>
                    <td>{{ persona_empresa.Carrer }}</td>
                    <td>{{ persona_empresa.CP }}</td>
                    <td>{{ persona_empresa.Ciutat }}</td>
                    <td>{{ persona_empresa.Provincia }}</td>
                    <td>
                        <a href="{{ path('persona_empresa_show', {'id': persona_empresa.id}) }}" class="btn btn-primary">Mostrar</a>
                        <a href="{{ path('persona_empresa_edit', {'id': persona_empresa.id}) }}" class="btn btn-primary">Editar</a>
                        <a href="{{ path('persona_empresa_delete', {'id': persona_empresa.id}) }}" class="btn btn-primary">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
