{% extends 'base.html.twig' %}

{% block title %}Hello ElementsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">

    <a href="{{ path('elements_new') }}" class="btn btn-primary">Crear</a>
    <table class="table">
        <thead>
        <tr>
            <th>Concepte</th>
            <th>Preu sense impostos</th>
            <th>Impost</th>
            <th>Preu unitari</th>
        </tr>
        </thead>
        <tbody>
        {% for element in elements %}
            <tr>
                <td>{{ element.Concepte }}</td>
                <td>{{ element.preuSenseImpostos }}</td>
                <td>{{ element.Impost }}</td>
                <td>{{ element.preuUnitari }}</td>
                <td>
                    <a href="{{ path('elements_show', {'id': element.id}) }}" class="btn btn-primary">Mostrar</a>
                    <a href="{{ path('elements_edit', {'id': element.id}) }}" class="btn btn-primary">Editar</a>
                    <a href="{{ path('elements_delete', {'id': element.id}) }}" class="btn btn-primary">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
