{% extends 'base.html.twig' %}

{% block title %}Crear Producte{% endblock %}

{% block body %}


    <div class="container">
        <a href="{{ path('app_elements') }}" class="btn btn-primary">Tornar</a>
        <h1>Crear Producte</h1>
        {{ form_start(form, {'attr': {'url': path('elements_create')}}) }}
        {{ form_row(form.Concepte, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.preuUnitari, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.preuSenseImpostos, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.Impost, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
