{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}

    <div class="container">
        <h1>Factures</h1>
        <a href="{{ path('app_factura_new') }}"><button class="btn btn-primary">Crear factura</button></a>
        <table class="table">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Fecha</th>
                    <th>Emisor</th>
                    <th>Cliente</th>
                    <th>Importe</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for factura in factures %}
                    <tr>
                        <td>{{ factura.numero }}</td>
                        <td>{{ factura.dataEmissio|date('d/m/Y') }}</td>
                        <td>{{ factura.emisor.getNomComplet }}</td>
                        <td>{{ factura.receptor.getNomComplet }}</td>
                        <td>{{ factura.total }}</td>
                        <td>
                            <a href="{{ path('app_factura_show', {'id': factura.id}) }}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
