{% extends 'base.html.twig' %}

{% block title %}Nova factura{% endblock %}

{% block body %}

    <div class="container">
        <h1>Nova factura</h1>

        {{ form_start(form,{'attr': {'url': path('app_factura_create'),'method': 'POST'}}) }}
        {{ form_row(form.dataEmissio,{'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.compteBancari,{'attr': {'class': 'form-select'}}) }}
        {{ form_row(form.emisor,{'attr': {'class': 'form-select'}}) }}
        {{ form_row(form.receptor,{'attr': {'class': 'form-select'}}) }}
        <hr>
        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Afegir producte</a>
        <table class="table">
            <thead>
            <tr>
                <th>Producte</th>
                <th>Quantitat</th>
                <th>Preu sense impostos</th>
                <th>Impostos</th>
                <th>Preu amb impostos</th>
                <th>Total</th>
                <th>Accions</th>
            </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
        {{ form_row(form.total,{'attr': {'class': 'form-control','step': '0.01'}}) }}
        {{ form_row(form.Observacions,{'attr': {'class': 'form-control'}}) }}
        <br>
        {{ form_row(form.save,{'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}

    </div>
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Afegir producte</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <label for="producte">Producte</label>
                <select name="producte" id="producte" class="form-select" onchange="calcularPreu()">
                    <option value="">Selecciona un producte</option>
                    {% for producte in productes %}
                        <option value="{{ producte.id }}">{{ producte.Concepte }}</option>
                    {% endfor %}
                </select>
                <label for="quantitat">Quantitat</label>
                <input type="number" name="quantitat" id="quantitat" class="form-control" onchange="calcularQuantitat()">
                <label for="preuSenseImpostos">Preu sense impostos</label>
                <input type="number" name="preuSenseImpostos" id="preuSenseImpostos" class="form-control" onchange="calcularPreuAmbImpostos()" step="0.01">
                <label for="impostos">Impostos</label>
                <select name="impostos" id="impostos" class="form-select">
                    <option value="">Selecciona un impost</option>
                {% for impost in imposts %}
                    <option value="{{ impost.id }}">{{ impost.nom }}</option>
                {% endfor %}
                </select>
                <label for="preuAmbImpostos">Preu amb impostos</label>
                <input type="number" name="preuAmbImpostos" id="preuAmbImpostos" class="form-control" onchange="calcularPreuSenseImpostos()" step="0.01">
                <label for="total">Total</label>
                <input type="number" name="total" id="total" class="form-control" step="0.01">
                <a onclick="afegirProducte()" class="btn btn-primary">Afegir</a>
            </div>
        </div>
        </div>
    </div>
    <script>
        class producte {
            id;
            concepte;
            preuSenseImpostos;
            impostos;
            preuAmbImpostos;
        }
        class impost {
            id;
            nom;
            percentatge;
        }
        let productes = [];
        {% for producte in productes %}
            let p_{{ producte.id }} = new producte();
        p_{{ producte.id }}.id = {{ producte.id }};
        p_{{ producte.id }}.concepte = "{{ producte.Concepte|escape('js') }}";
        p_{{ producte.id }}.preuSenseImpostos = {{ producte.preuSenseImpostos }};
        p_{{ producte.id }}.impostos = {{ producte.Impost.id }};
        p_{{ producte.id }}.preuAmbImpostos = {{ producte.preuUnitari }};
            productes.push(p_{{ producte.id }});
        {% endfor %}
        let imposts = [];
        {% for impost in imposts %}
            let i_{{ impost.id }} = new impost();
        i_{{ impost.id }}.id = {{ impost.id }};
        i_{{ impost.id }}.nom = '{{ impost.nom }}';
        i_{{ impost.id }}.percentatge = {{ impost.percentatge }};
            imposts.push(i_{{ impost.id }});
        {% endfor %}
        function calcularPreu() {
            let producte = document.getElementById('producte').value;
            //buscar producte al array
            producte = productes.find(p => p.id === parseFloat(producte));
            document.getElementById('preuSenseImpostos').value = producte.preuSenseImpostos;
            document.getElementById('impostos').value = producte.impostos;
            document.getElementById('preuAmbImpostos').value = producte.preuAmbImpostos;

        }

        function calcularQuantitat() {
            let quantitat = parseFloat(document.getElementById('quantitat').value);
            let preuAmbImpostos = parseFloat(document.getElementById('preuAmbImpostos').value)
            let total = quantitat * preuAmbImpostos;
            document.getElementById('total').value = total;
        }

        function calcularPreuAmbImpostos(){
            let preuSenseImpostos = parseFloat(document.getElementById('preuSenseImpostos').value);
            let impostos = parseFloat(document.getElementById('impostos').value);
            impostos = imposts.find(i => i.id === impostos).percentatge;
            let preuAmbImpostos = preuSenseImpostos + (preuSenseImpostos * impostos / 100);
            document.getElementById('preuAmbImpostos').value = preuAmbImpostos;
        }

        function calcularPreuSenseImpostos(){
            let preuAmbImpostos = parseFloat(document.getElementById('preuAmbImpostos').value);
            let impostos = parseFloat(document.getElementById('impostos').value);
            impostos = imposts.find(i => i.id === impostos).percentatge;
            let preuSenseImpostos = preuAmbImpostos / (1 + (impostos / 100));
            document.getElementById('preuSenseImpostos').value = preuSenseImpostos;
        }

        function afegirProducte(){
            let producte = document.getElementById('producte').value;
            let quantitat = document.getElementById('quantitat').value;
            let preuSenseImpostos = document.getElementById('preuSenseImpostos').value;
            let impostos = document.getElementById('impostos').value;
            let preuAmbImpostos = document.getElementById('preuAmbImpostos').value;
            let total = document.getElementById('total').value;
            let tr = document.createElement('tr');
            tr.innerHTML = `
                <td><input type="hidden" name="productes[]" value="${producte}">${productes.find(p => p.id === parseFloat(producte)).concepte}</td>
                <td><input type="number" name="quantitats[]" value="${quantitat}" class="form-control"></td>
                <td><input type="number" name="preusSenseImpostos[]" value="${preuSenseImpostos}" class="form-control"></td>
                <td><input type="number" name="impostos[]" value="${impostos}" class="form-control"></td>
                <td><input type="number" name="preusAmbImpostos[]" value="${preuAmbImpostos}" class="form-control"></td>
                <td><input type="number" name="totals[]" value="${total}" class="form-control"></td>
                <td><button type="button" class="btn btn-danger" onclick="eliminarProducte(this)">Eliminar</button></td>
            `;
            tr.setParentNode = document.getElementById('tbody');

            //calcular total factura
            let totalFactura = 0;
            document.querySelectorAll('input[name="totals[]"]').forEach(input => {
                totalFactura += parseFloat(input.value);
            });
            totalFactura += parseFloat(total);
            document.getElementById('form_total').value = totalFactura;

            document.getElementById('tbody').appendChild(tr);
            document.getElementById('producte').value = '';
            document.getElementById('quantitat').value = '';
            document.getElementById('preuSenseImpostos').value = '';
            document.getElementById('impostos').value = '';
            document.getElementById('preuAmbImpostos').value = '';
            document.getElementById('total').value = '';
            document.getElementById('modal').modal('hide');
        }
        function eliminarProducte(boton){
            let tr = boton.parentNode.parentNode;
            let total = parseFloat(tr.querySelector('input[name="totals[]"]').value);
            let totalFactura = parseFloat(document.getElementById('form_total').value);
            totalFactura -= total;
            document.getElementById('form_total').value = totalFactura;
            tr.remove();
        }
    </script>
{% endblock %}
